<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Walleee</title>

<!-- CSS -->
<link href="main.css" rel="stylesheet" type="text/css" />
<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
<link href="css/nivotheme.css" rel="stylesheet" type="text/css" />
<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />


<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css' />

<!-- JS -->
<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie9.css">
<![endif]-->

</head>

<body>

	<!-- Header
		============================= -->
	<div id="header">
        <div class="inner">
        
            <!-- Logo -->
            <h1 class="logo left"><a href="">Walleee</a></h1><!-- .logo-->
            
            <!-- Nav Menu -->
            <ul class="nav-menu right">
                <!--<li class="current"><a href="#home">hel</a></li>-->
                <!--<li><a href="#services">services</a></li>-->
                <!--<li><a href="#portfolio">portfolio</a></li>-->
                <!--<li><a href="#about">about</a></li>-->
                <!--<li><a href="#contact">contact</a></li>-->
                <li><a href="profile.html">Profile</a></li>
            </ul>
        
        </div><!-- .inner -->
	</div><!-- #header -->
	<!-- End Header -->
    

    <!-- Search
        ============================= -->
    <div id="search">
        <div class="inner">
        
            
        </div><!-- .inner -->
    </div><!-- #search -->
    <!-- End Search -->


	<!-- Portfolio
		============================= -->
	<div id="portfolio">
        <div class="inner">
        
        	<h2>Trending Photos</h2>
            <!-- <h3>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h3> -->
            
            <!-- Portfolio Menu -->
            <ul class="portfolio-menu filter home-portfolio">
                
                <li class="current all"><a href="#">All</a></li>

            	<li class="cars"><a href="#">Cars</a></li>
                <li class="cartoon"><a href="#">Cartoon</a></li>
                <li class="graphicdesign"><a href="#">Graphic Design</a></li>
                <li class="landscapes"><a href="#">Landscapes</a></li>
                <li class="models"><a href="#">Models</a></li>
                <li class="monsters"><a href="#">Monsters</a></li>
                <li class="movies"><a href="#">Movies</a></li>
                <li class="games"><a href="#">Games</a></li>
                
            </ul><!-- .portfolio-menu -->
            
            <!-- Portfolio -->
            <ul class="portfolio">
            	<li data-id="id-1" data-type="cartoon">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-2" data-type="cars">
                    <a href="images/images/cars-1.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/cars-1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>


                <li data-id="id-3" data-type="movies">
                    <a href="images/images/movies-4.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/movies-4.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                
            	<li data-id="id-4" data-type="monsters">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img2.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>


                <li data-id="id-5" data-type="landscapes">
                    <a href="images/images/landscape-2.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/landscape-2.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                
            	<li data-id="id-6" data-type="cartoon">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img4.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-7" data-type="games">
                    <a href="images/images/games-1.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/games-1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                
            	<li data-id="id-8" data-type="graphicdesign">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img5.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-9" data-type="cars">
                    <a href="images/images/cars-2.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/cars-2.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

            	<li data-id="id-10" data-type="graphicdesign">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img7.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                
                <li data-id="id-11" data-type="movies">
                    <a href="images/images/movies-1.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/movies-1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

            	<li data-id="id-12" data-type="graphicdesign">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img8.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-13" data-type="games">
                    <a href="images/images/games-2.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/games-2.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-14" data-type="movies">
                    <a href="images/images/movies-2.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/movies-2.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-15" data-type="models">
                    <a href="images/images/models-1.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/models-1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                
            	<li data-id="id-16" data-type="monsters">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img9.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

                <li data-id="id-17" data-type="landscapes">
                    <a href="images/images/landscape-1.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/landscape-1.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                

                <li data-id="id-18" data-type="movies">
                    <a href="images/images/movies-3.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/images/movies-3.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>

            	<li data-id="id-19" data-type="monsters">
                    <a href="http://farm4.staticflickr.com/3712/9032543579_1217e6566b_b.jpg" rel="prettyPhoto[portfolio]">
                        <img src="images/thumbnails/img11.jpg" width="220" height="187" alt="#" />
                    </a>
                </li>
                
            </ul><!-- .portfolio -->
            
        </div><!-- .inner -->
	</div><!-- #portfolio -->
	<!-- End Portfolio -->

    
	<!-- Footer
		============================= -->
	<div id="footer">
        <div class="inner">
        
        	<p class="center">Made with love in TORONTO</p>

            <!--
            <ul>
            	<li>
                    <a href=""><span class="icon-facebook"></span></a>
                    <a href=""><span class="icon-gplus"></span></a>
                    <a href=""><span class="icon-twitter"></span></a>
                    <a href=""><span class="icon-linkedin"></span></a>
                </li>
            </ul>
            -->

        </div><!-- .inner -->
	</div><!-- #footer -->
	<!-- End Footer -->
    
    <a href="" class="go-top">Top</a>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/index.js"></script> 

</body>
</html>